@model FlightSystem.Models.Payment

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            <label>Bilet türü:</label>
            <p @ViewData["biletTuru"]></p>
        </div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <p @ViewData["toplamtutar"]></p>             
            </div>
            <div class="form-group">
                <label asp-for="CardId" class="control-label">kart numarası</label>
                <input asp-for="CardId" class="form-control" />
                <span asp-validation-for="CardId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardDate" class="control-label">son kullanma tarihi</label>
                <input asp-for="CardDate" class="form-control" />
                <span asp-validation-for="CardDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVV" class="control-label">CVV</label>
                <input asp-for="CVV" class="form-control" />
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
