@model FlightSystem.Models.Passenger

@{
    ViewData["Title"] = "Passenger";
}

<h4>Yolcu bilgileri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Passenger">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TicketNum" class="control-label"></label>
                <input asp-for="TicketNum" class="form-control" />
                <span asp-validation-for="TicketNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerName" class="control-label"></label>
                <input asp-for="PassengerName" class="form-control" />
                <span asp-validation-for="PassengerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassengerSurname" class="control-label"></label>
                <input asp-for="PassengerSurname" class="form-control" />
                <span asp-validation-for="PassengerSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="passengerGender" class="control-label"></label>
                <input asp-for="passengerGender" class="form-control" />
                <span asp-validation-for="passengerGender" class="text-danger"></span>
            </div>

            <label>
                <input type="radio" name="nationality" value="turkish" onchange="nationalityChanged()"> Türk Vatandaşı
            </label>
            <label>
                <input type="radio" name="nationality" value="foreigner" onchange="nationalityChanged()"> Yabancı
            </label>
            <div class="form-group" id="tcDiv" style="display: none;">
                <label asp-for="TCNumber" class="control-label"></label>
                <input asp-for="TCNumber" class="form-control" />
                <span asp-validation-for="TCNumber" class="text-danger"></span>
            </div>
            <div class="form-group" id="passportDiv" style="display: none;">
                ">
                <label asp-for="PassportNum" class="control-label"></label>
                <input asp-for="PassportNum" class="form-control" />
                <span asp-validation-for="PassportNum" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <label asp-for="UserMail" class="control-label"></label>
                <input asp-for="UserMail" class="form-control" />
                <span asp-validation-for="UserMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserPhone" class="control-label"></label>
                <input asp-for="UserPhone" class="form-control" />
                <span asp-validation-for="UserPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Anasayfaya dön</a>
</div>

<script>
    function nationalityChanged() {
        var selectedNationality = document.querySelector('input[name="nationality"]:checked').value;
        var tcDiv = document.getElementById('tcDiv');
        var passportDiv = document.getElementById('passportDiv');

        if (selectedNationality === 'turkish') {
            tcDiv.style.display = 'block';
            passportDiv.style.display = 'none';
        } else {
            tcDiv.style.display = 'none';
            passportDiv.style.display = 'block';
        }
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
