body.page {
    font-family: Arial;
    margin: 0;
    min-height: 100vh;
    height:auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color:lightcoral
}


.aramabutonu {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    /* Renkler */
    color: #fff;
    background-color: lightcoral border: none;
    border-radius: 5px;
}

.flightform {
    margin: 5px;
    padding: 5px;
    color: antiquewhite;
    opacity: 0.7;
}

.ucusform {
    margin: 5px;
    padding: 5px;
    color: antiquewhite;
    opacity: 0.7;
}



.bosluk{
    height:10px;
}
.flex-container {
    display: flex;
    flex-direction: column; /* Elemanları dikey olarak sırala */
}
.container2 {
    display: flex; /* Flex konteyneri */
}

.box {
    flex: 1; /* Eşit genişlik */
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    background-color: antiquewhite;
}

.box2 {
    flex: 1; /* Eşit genişlik */  
    background-color: white;
}

.styled-text {
    font-size: 20px;
    color:darkslategrey;
    padding: 10px;
    font-weight:bold;
}

.box {
    flex: 1; /* Eşit genişlik */
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    background-color: antiquewhite;
}

.box2 {
    flex: 1; /* Eşit genişlik */
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    background-color:beige;
}

.styled-text {
    font-size: 20px;
    color:darkslategrey;
    padding: 10px;
    font-weight:bold;
}

.image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: auto;
   
}
    .image-container img {
        width: 100%;
        height: auto;
    }

.overlay-div {
     /* Resim-container'ın ortasına yerleştir */
    transform: translate(-50%, -50%); /* Merkezden hizala */

    width: 80%; /* İç div'in genişliği */
    height: 60%; /* İç div'in yüksekliği */

    background-color: rgba(255, 255, 255, 0.7); /* Örnek olarak arka plan rengi ekledik */
    padding: 10px; /* Örnek olarak iç boşluk ekledik */

    box-sizing: border-box;
    z-index: 1; /* overlay-div'in z-index değeri */
}


    .overlay-div p {
        color: #333; /* Metin rengi */
        z-index: 1;
    }

.content {
    position: absolute;
  
    transform: translate(-50%, -50%);
    color: #fff; /* İçerik metni rengi */
}


.imagee-container {
    display: flex; /* Flex konteyneri */
}

.image {
    flex: 1; /* Eşit genişlik */
    margin: 5px;
    height:auto;
    width:100px;
}



/*.col-lg-3 {
    width: 25%;
    min-width: 230px;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #aaa;
    text-align: center;
}

.col-lg-3 img {
    max-width: 100%;
}

.img-container {
    display: inline-block;
    position: relative;
}

.positioning {
    position: absolute;
    right: 15px;
    bottom: 22px;
    background-color: red;
    color: white;
    padding: 4px;
    font-size: 17px;
    line-height: 18px;
}
*/
