@model FlightSystem.Models.Flight;

@{
    ViewData["Title"] = "Home Page";
}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/ındex.css">
<link rel="stylesheet" href="styles.css">

<link rel="apple-touch-icon" href="apple-touch-icon.png">
<link rel="stylesheet" href="css/css2/bootstrap.min.css">
<link rel="stylesheet" href="css/css2/bootstrap-theme.min.css">
<link rel="stylesheet" href="css/css2/fontAwesome.css">
<link rel="stylesheet" href="css/css2/hero-slider.css">
<link rel="stylesheet" href="css/css2/owl-carousel.css">
<link rel="stylesheet" href="css/css2/datepicker.css">
<link rel="stylesheet" href="css/css2/tooplate-style.css">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

@* <div class="styled-text">
    <h4>En uygun uçak biletini bul</h4>
</div> *@

    <!-- Resim eklemek için img etiketini kullanabilirsiniz. -->
    @* <img id="resim" src="~/img/newyork.jpg" alt="anasayfa" />
        <section id="first-tab-group" class="tabgroup">
            <div id="tab1">
                  <div class="submit-form">
    *@
<body class="page" >
<section class="banner" id="top">
    <div class="container">
        <div class="row">                            
                  <div classs="flightform">
                          <h4> Uçak bileti ara</h4>
                    <hr />
                            <form id="form-submit" action="" method="get">
                                <div class="container2">
                                     <div class="row">
                                        <div class="col-md-2 ">
                                            <fieldset>                                       
                                            <label asp-for="FlightDeparture" class="control-label">   Nereden:</label>
                                            <input asp-for="FlightDeparture" class="form-control" />
                                            <span asp-validation-for="FlightDeparture" class="text-danger"></span>
                                        
                                            </fieldset>
                                        </div>
                                        <div class="col-md-2 ">
                                            <fieldset>
                                            <label asp-for="FlightDestination" class="control-label">   Nereye:</label>
                                            <input asp-for="FlightDestination" class="form-control" />
                                            <span asp-validation-for="FlightDestination" class="text-danger"></span>
                                        </fieldset>
                                        </div>
                                        <div class="col-md-2 ">
                                            <fieldset>
                                            <label asp-for="FlightDepartureDate" class="control-label"> gidiş tarihi:</label>
                                            <input asp-for="FlightDepartureDate" type="text" class="form-control date" id="deparure" placeholder="Select date..." required="" onchange='this.form.()'>
                                            </fieldset>
                                        </div>
                                        <div class="col-md-2 ">
                                            <fieldset>
                                            <label asp-for="FlightDestinationDate" class="control-label"> dönüş tarihi:</label>
                                            <input asp-for="FlightDestinationDate" type="text" class="form-control date" id="deparure" placeholder="Select date..." required="" onchange='this.form.()'>
                                            </fieldset>
                                        </div>

                                           <div class="col-md-2 form-group">
                                                <fieldset>
                                        <button  type="submit" id="form-submit" class="btn btn-primary">Bilet bul</button>
                                       
                                    </fieldset>
                                            </div>
                                           
                                                                                                               
                                   </div>
                              </div>                           
                          </form>
                </div>
         </div>
    </div>
</section>
    @* <img id="resim" src="~/img/newyork.jpg" alt="anasayfa" /> *@
    <hr />
    <br />

<div class="container2">

    <div class="box">
        <p class="styled-text ">Bilet iptal</p>
    </div>
    <div class="box">
        <p class="styled-text ">check-in</p>
    </div>
    <div class="box">
        <p class="styled-text ">uçuş sorgula</p>
    </div>
</div>

<br />

@* <div class="styled-text">
    <h4>En uygun uçak biletini bul</h4>
</div> *@

<div class="imagee-container">
    <img class="image" src="img/kapadokya.jpg" alt="Resim 1">
    <img class="image" src="img/newyork.jpg" alt="Resim 2">
    <img class="image" src="img/Hallstatt.jpg" alt="Resim 3">
</div>
<div class="imagee-container">
    <img class="image" src="img/bogazici.jpg" alt="Resim 4">
    <img class="image" src="img/Aurora2.jpg" alt="Resim 5">
    <img class="image" src="img/iran.jpeg" alt="Resim 6">
</div>

<script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>



<div class="bosluk"></div>

</body>



@* <div id="container" class="col-lg-3">
    <div class="img-container">
        <div class="positioning">
            Some Text
        </div>
        <img src="~/img/Hallstatt.jpg" alt="anasayfa" />
    </div>
</div>
 *@


@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@