@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="/css/ındex.css">

<h2>@ViewBag.Title</h2>


<div class="image-container">
    <!-- Resim eklemek için img etiketini kullanabilirsiniz. -->
    <img src="~/img/kapadokya.jpg" alt="anasayfa" />

    <!-- Üzerine eklenen div -->
    <div class="overlay-div">
        <p>Bu div resmin üzerine eklenmiştir.</p>
    </div>
</div>



@* <div id="container" class="col-lg-3">
    <div class="img-container">
        <div class="positioning">
            Some Text
        </div>
        <img src="~/img/Hallstatt.jpg" alt="anasayfa" />
    </div>
</div>
 *@


















@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
 *@